* {
	padding: 0;
	margin: 0;
	list-style-type: none;
	text-decoration: none;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
	background-color: #88A3D4;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

.devices-list {
	width: 1000px;
	margin: 180px auto 0;
	background-color: white;
	display: flex;
	padding: 30px;
	text-align: center;
	border-radius: 10px;
}

.device-link {
	display: block;
	padding: 30px;
	border-radius: 5px;
}

.device-link:hover {
	background-color: #ebebeb;
	transition: background-color 0.4s;
}

.device-img {
	width: 50px;
	height: 50px;
}

.device-title {
	letter-spacing: 2px;
	padding: 20px 0;
	color: #5572D6;
	text-transform: uppercase;
}

.device-subtext {
	color: #888;
}

.device-price {
	display: flex;
	justify-content: center;
	/*align-items: center;*/
	padding: 20px 0;
	color: #5572D6;
}

.device-price .big-price {
	line-height: 30px;
	font-size: 35px;
}

.device-price .sup {
	display: block;
	margin-bottom: -10px;
}

.device-price .month {
	align-self: flex-end;
}
